html
  head
    title= "Teensy with GPS and DS18b20"
  body
    p(style='white-space:pre;')
      | id = #{message.id}      
      | counter = #{message.counter} 
      | voltage = #{message.value1}  
      | temperature = #{message.value2}
      | latitude = #{message.value3}  
      | longitude = #{message.value4}  
      | altitude = #{message.value5}  
      | crc = #{message.crc}     
